<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap" rel="stylesheet">
<style>
* {font-family: 'Titillium Web', sans-serif;}
.container {Width:500px; margin:0 auto; position:relative}
input {padding:10px; margin: 10px 0; width:100%; display:block}
input:hover {cursor:pointer}
</style>
</head>
<body>

<h1>Sobre o Plano de Mídia em Julia</h1>

<p>Projeto de TCC desenvolvido com a Orientação do Professor Abel.</p>

<p>Testando Julia dentro do HTML (soma 2+2):</p>
<%
  2+2
%>
<br>
<br>
<br>
</body>
</html>
